<div class='row'>
  <div class='col-md-10'>
    <h3>ngStyle</h3>
  </div>
  <div class='col-md-10'>
    <p [style.fontSize.px]="tamanio">
      Este es un estilo con angular usando NGStyle
    </p>
    <p [ngStyle]="{
      'backgroundColor': 'blue',
      'color':'white',
      'fontSize.px':tamanio}">
      Estos son varios estilos
    </p>
    <button class="btn btn-sm btn-primary" (click)="tamanio = tamanio + 5">
      <i class="fa fa-plus"></i>
    </button> &nbsp;
    <button class="btn btn-sm btn-primary" (click)="tamanio = tamanio - 5">
      <i class="fa fa-minus"></i>
    </button> &nbsp;
    <button class="btn btn-sm btn-primary" (click)="tamanio = 20">
      <i class="fa fa-redo"></i>
    </button>
  </div>
</div>
<hr />
<div class='row'>
  <div class='col-md-10'>
    <h3>NgClass</h3>
  </div>
  <div class='col-md-10'>
    {{ tamanio }}
    <p [ngClass]="{
      'text-success' : tamanio > 20 ,
      'text-primary' : tamanio >= 15 && tamanio <= 20,
      'text-danger' : tamanio < 15
    }">
      Cambiaremos la clase con NgClass
    </p>

  </div>
</div>
<hr />
<div class='row'>
  <div class='col-sm-12'>
    <h3>*ngIf</h3>
  </div>
  <div *ngIf="tamanio == 20" class='col-sm-12'>
    Este div solo se muestra cuando el tamaño es igual a 20
  </div>
</div>
<hr />
<div class='row'>
  <div class='col-sm-12'>
    <h3>*ngIf - ng-template - tamanio > 20</h3>
  </div>
  <div *ngIf="tamanio > 20; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class='col-sm-12'>
      <p class='text-secondary'>Se muestra cuando el tamaño es MAYOR a 20</p>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class='col-sm-12'>
     <p class='text-primary'>Este template se muestra cuando el tamaño es MENOR a 20</p>
    </div>
  </ng-template>
</div>
<hr />
<div class='row'>
  <div class='col-md-10'>
    <h3>*ngSwitch</h3>
  </div>
  <div class='col-md-3 col-md-offset-3'>
    <div [ngSwitch]="alerta">
      <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        This is a success alert—check it out!
      </div>
      <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
      </div>
      <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        This is a info alert—check it out!
      </div>
      <div *ngSwitchDefault class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-7'>
      <button type="button" (click)="alerta='success'" class="btn btn-success">success</button>&nbsp;
      <button type="button" (click)="alerta='warning'" class="btn btn-warning">warning</button>&nbsp;
      <button type="button" (click)="alerta='info'" class="btn btn-info">info</button>&nbsp;
      <button type="button" (click)="alerta='danger'" class="btn btn-danger">danger</button>
  </div>
</div>
<hr />
<div class="clearfix"></div>
<div class='row'>
  <div class='col-md-10'>
      <app-formulario></app-formulario>
  </div>
</div>

