<div class="row">
    <div class="col-sm-5 offset-sm-2">B&uacute;squeda: {{ busqueda }}</div>
</div>
<div class="row" *ngIf="peliculas.Response === 'False'">
    <div class="alert alert-warning" role="alert">
        La b&uacute;squeda no obtuvo resultados.
    </div>
</div>
<div class="row" *ngIf="peliculas.Response === 'True'">
  <div class="col-sm-2 offset-sm-10">
    <h3> Resultados : {{ peliculas.totalResults }} </h3>
  </div>
  <div class="clearfix"></div>
  <div *ngFor="let pel of peliculas.Search" class="col-sm-2 offset-sm-1">
    <div class="card">
        <img class="card-img-top" [src]="pel.Poster | noimage" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">{{ pel.Title }}</h5>
          <p class="card-text">
              Tipo: {{ pel.Type }} <br/>
              Año: {{ pel.Year }}
          </p>
          <a (click)="verPelicula(pel.imdbID)" class="btn btn-primary">M&aacute;s Informaci&oacute;n.</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-12">&nbsp;</div>
  <div class="col-sm-3 offset-sm-5">
    <button (click)="buscarPelicula(busqueda, page - 1 )" [ngClass]="page  <= 1 ? 'disabled' : '' " class='btn btn-primary' [disabled]="(page <= 1)">Anterior</button> &nbsp; &nbsp;
    <button (click)="buscarPelicula(busqueda, page + 1)"  [ngClass]="page >= pages ? 'disabled' : ''" class='btn btn-primary' [disabled]="(page >= pages)">Siguiente</button>
  </div>
</div>
