<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="../../../assets/img/film-camera.png" width="30" height="30" alt="movies"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['peliculas']">Peliculas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">Acerca de</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input (keyup.enter)="buscar(buscarTexto.value)" class="form-control mr-sm-2" type="search" placeholder="Buscar Pelicula o Serie" aria-label="Buscar" #buscarTexto>
      <button (click)="buscar(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
    </form>
  </div>
</nav>
