<div class='row' *ngIf="pelicula">
  <div class='col-sm-4'>
      <img [src]="pelicula.Poster | noimage" class="img-fluid" alt="Responsive image">
  </div>
  <div class='col-sm-8'>
    <h2>{{ pelicula.Title | uppercase }}</h2>
    <h4>{{ pelicula.Type }} ({{ pelicula.Year }})</h4>
    <p>
      {{ pelicula.Plot }}
    </p>
    <p> <strong>Actores: </strong>
      {{ pelicula.Actors }}
    </p>
    <p> <strong>Director: </strong>
      {{ pelicula.Director }}
    </p>
    <p *ngIf="pelicula.Website !== 'N/A'"><strong>Website: </strong> <a [href]="pelicula.Website" target="_blank">{{ pelicula.Website }}</a></p>
    <p><strong>Ratings:</strong></p>
    <p *ngFor="let critica of pelicula.Ratings">
      <mark>{{critica.Source }}</mark> {{ critica.Value }} <br />
    </p>
  </div>
  <div class="clearfix">&nbsp;</div>
  <div class='col-sm-8 offset-sm-4'>
    <button (click)="goBack()" class='btn btn-info'>Regresar</button>
  </div>
</div>
