<form #formContacto="ngForm" (ngSubmit)="enviarForm()">
    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input type="text" [(ngModel)]="contacto.nombre" id="nombre" name="nombre" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="correo"><span class='text-danger'>*</span> Correo: </label>
      <input #correo="ngModel" [(ngModel)]="contacto.correo" type="email" name="correo" id="correo" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <span *ngIf="!correo.valid && correo.touched" class="alert-danger">El correo es incorrecto.</span>
    </div>
    <div class='form-group'>
      <label for="comentario">Comentario: </label>
      <textarea id='comentario' name='comentario' [(ngModel)]="contacto.comentario" class="form-control"></textarea>
    </div>
    <input type='submit' value='enviar' class="btn btn-primary" [disabled]="!formContacto.form.valid" />
</form>

<div *ngIf='contacto.nombre'>
  nombre: {{ contacto.nombre }}
</div>
<div *ngIf='contacto.correo'>
  correo: {{ contacto.correo }}
</div>
<div *ngIf='contacto.comentario'>
  comentario: {{ contacto.comentario }}
</div>

<div class="row">
  <div class='col-sm-10'>
    <ul *ngIf='ArrContactos.length > 0'>
      <h3>Listado de comentarios</h3>
      <li *ngFor = "let con of ArrContactos">
        {{ con.nombre }} {{ con.correo }} {{ con.comentario }}
      </li>
    </ul>
  </div>
</div>
